@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply hidden;
}

* {
  font-family: Outfit;
}
@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 120%;
  }
}

.animate-shine {
  animation: shine 2.5s linear infinite;
}
